@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My best app</title>
</head>
<body>
    <div>
        <h1>My best app</h1>
        <h3>Menu creation</h3>
        <table>
            <form method="post" >
            <tr><td><input type="text" name="menuName" value="" /></td></tr>
            <tr><td><input type="submit" value="Add" /> </td><td></td></tr>
            </form>
        </table>
    </div>
</body>
</html>