@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My best app</title>
</head>
<body>
    <div>
        <h1>My best app</h1>
        <h3>Menu editing</h3>
        <table>
            @foreach (var b in ViewBag.Menus)
            {
                <tr>
                    <td><p>@b.Id</p></td>
                    <td><p>@b.Name</p></td>
                    <td><p><a href="/MenuEditing/Edit/@b.Id">Edit</a></p></td>
                    <td><p><a href="/MenuEditing/Remove/@b.Id">Remove</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>