@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My best app</title>
</head>
<body>
    <div>
        <h1>My best app</h1>
        <h3>Main page</h3>
        <table>
            <tr><td><a href="/Home/GoToOrderEditing"><p>Edit orders</a></></p></td></tr>
            <tr><td><a href="/Home/Buy"><p>Edit menus</a></></p></td></tr>
            <tr><td><a href="/Home/Buy"><p>Edit meals</a></></p></td></tr>
        </table>
    </div>
</body>
</html>